@model Expediente_Electronico.Models.Administrador

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<h2>Estado</h2>


<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Usuario.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Usuario.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.estado_String)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_String)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Esatdo" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
