@model Expediente_Electronico.Models.Consulta

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<br />
<h2>Crear Consulta</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ID_MEDICO, "Médico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_MEDICO,
              (SelectList)ViewBag.listaMedicos, "Seleccione a un Medico",
              htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.ID_MEDICO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_CONSULTORIO, "Consultorio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_CONSULTORIO,
              (SelectList)ViewBag.listaConsultorio, "Seleccione a un Consultorio",
              htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.ID_CONSULTORIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_ESPECIALIDAD, "Especialidad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ID_ESPECIALIDAD,
              (SelectList)ViewBag.listaEspecialidad, "Seleccione a una Especialidad",
              htmlAttributes: new { @class = "form-control" })


                @Html.ValidationMessageFor(model => model.ID_ESPECIALIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <button type="button" class="btn btn-outline-success"
            onclick="location.href='@Url.Action("Index", "Consulta")'">
        Regresar
    </button>
</div>

