@model Expediente_Electronico.Models.Medico

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutMED.cshtml";
}

<h2>Estado</h2>


<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_Apellido)
        </dd>

        <

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_String)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_String)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cambiar Estado" class="btn btn-primary" /> |
            @Html.ActionLink("Regresar", "IndexMe")
        </div>
    }
</div>
