@model Expediente_Electronico.Models.Medico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<h2>Details</h2>

<div class="card border-light mb-3 col-md-8" style="max-width: 18rem;">
   <div class="card-header"><h4>Medico</h4></div> 
    <hr />
    <div class="class="card-body">
        <div class="form-row">
            <dl class="d-lg-table-row">
                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.correo)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.correo)
                </dd>

                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.cedula)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.cedula)
                </dd>

                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.p_Apellido)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.p_Apellido)
                </dd>

                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.s_Apellido)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.s_Apellido)
                </dd>

                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.contrasenna)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.contrasenna)
                </dd>

                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.sexo)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.sexo)
                </dd>

                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.estado)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.estado_String)
                </dd>

                <dt class="card-title">
                    @Html.DisplayNameFor(model => model.Tipo_Usuario.descripcion)
                </dt>

                <dd class="card-text">
                    @Html.DisplayFor(model => model.Tipo_Usuario.descripcion)
                </dd>
            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
