@model IEnumerable<Expediente_Electronico.Models.Medico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMED.cshtml";
}

<h2>Index</h2>

<table class="dl-horizontal">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_Apellido)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Usuario.descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s_Apellido)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado_String)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Usuario.descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditMe", new { id = item.id }) |
                @Html.ActionLink("Detalles", "DetailsMe", new { id = item.id }) |
                @Html.ActionLink("Estado", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
