<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EMEP</title>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    @*MENU*@
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        @Html.ActionLink("EMEP", "IndexPa", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="# navbarColor01" aria-controls="navbarColor01" aria-expand="false" aria-label="Navegación de palanca ">
            <span class="navbar-toggler-icon"> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">

                    @Html.ActionLink("Inicio", "IndexPa", "Home", new { area = "" }, new { @class = "nav-link" })
                    @*@Html.ActionLink("Inicio", "IndexAd", "Home", new { area = "" }, new { @class = "nav-link" })*@
                </li>
                <li class="nav-item">

                    @Html.ActionLink("Paciente", "Indexp", "Paciente", new { area = "" }, new { @class = "nav-link" })
                    @*<a class="nav-link" href="#"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Tour </font> </font> </a>*@
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Pacientes Asociados", "Index", "Paciente_Asociado", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Registro de Fumado", "Index", "Fumador", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Registro de Cirugía", "Index", "Cirugia", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Registro de Alcohol", "Index", "Alcohol", new { area = "" }, new { @class = "nav-link" })
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Registro de Mediamentos </font> </font> </a>
                </li>
                
                </ul>
        </div>
        @Html.Partial("_PartialAdmin")
        @*@Html.Partial("_PartialAdmin")*@
        @*<div style="float:left" class="nav-item">

            </div>*@
        </div>
    </nav>
    @*MENU*@


    @if (ViewBag.Mensaje != "" && ViewBag.Mensaje != null)
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>

            <p class="mb-0">@ViewBag.Mensaje</p>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Derechos Reservados - EMEP</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

