@model IEnumerable<Expediente_Electronico.Models.Paciente_Asociado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}

<h2>Lista de Pacientes Asociados</h2>

<p>
    @Html.ActionLink("Nuevo Asociado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_Apellido)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.contrasenna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.tipo_sangre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recidencia)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto_emergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parentesco)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Tipo_Usuario.descripcion)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_Apellido)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.contrasenna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.estado_String)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nacimiento)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.tipo_sangre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recidencia)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto_emergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parentesco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Usuario.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.correo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.correo }) |
            @Html.ActionLink("Cambiar Estado", "Delete", new { id=item.correo })
        </td>
    </tr>
}

</table>
